// -- Buttons and Links ---- //
@mixin hyperlink-style {
  text-decoration: underline 2px rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
  &:hover,
  &:focus {
    text-decoration-color: rgba(0, 0, 0, 1);
  }
}

// -- Media Query ---------- //
@mixin media-query($break) {
  @if $break == "small" {
    @media (min-width: $bpoint-sm) {
      @content;
    }
  } @else if $break == "medium" {
    @media (min-width: $bpoint-md) {
      @content;
    }
  } @else if $break == "large" {
    @media (min-width: $bpoint-lg) {
      @content;
    }
  } @else if $break == "x-large" {
    @media (min-width: $bpoint-xl) {
      @content;
    }
  } @else {
    @error "NO ARGUMENT VALID FROM $BREAK '#{$break}'";
  }
}
