// -- Variables ---------- //

// -- Colors ------------- //
$color-primary: #8b0000;
$color-secondary: #47a8a0;
$font-color: #f2f2f2;

// -- Breakpoints -------- //
$bpoint-sm: 576px;
$bpoint-md: 768px;
$bpoint-lg: 992px;
$bpoint-xl: 1200px;
