// -- Hero Image ---------- //
.hero-wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.1),
      rgb(58, 53, 70)
    ),
    url("../images/hero-image-tex.jpeg");
  display: flex;
  flex-direction: column;
  padding: 200px 60px 0px;
  color: $font-color;
  font-weight: 700;
  text-transform: uppercase;
  background-size: cover;
  border-bottom: 5px solid $color-primary;
  text-align: center;
  .title {
    @include hero-image-title;
    margin-bottom: 150px;
    padding: 10px;
    h1 {
      margin-bottom: 20px;
    }
    @include media-query("large") {
      margin-bottom: 300px;
      max-width: 500px;
      padding: 75px 100px;
    }
  }
  .page-title {
    @include hero-image-title;
    margin-bottom: 150px;
    padding: 15px;
    @include media-query("large") {
      margin-bottom: 150px;
      max-width: 500px;
      padding: 25px 100px;
    }
  }
}

// -- Project Cards ------- //

#project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  padding: 50px;
  border: 2px;
  i {
    margin-left: 5px;
    font-size: smaller;
  }
  .card-image {
    max-width: 70vw;
    border: 2px solid $color-primary;
    @include media-query(large) {
      max-width: 30vw;
    }
    @include media-query(x-large) {
      max-width: 20vw;
    }
  }
  .card-title {
    h2 {
      font-family: $font-heading;
      text-transform: uppercase;
      font-size: larger;
    }
    h5 {
      font-size: smaller;
      a {
        @include hyperlink-style;
      }
    }
    margin-top: 20px;
    line-height: 25px;
  }
  &:hover,
  &:focus {
    img {
      translate: 0px -5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: 0.3s;
    }
  }
}

// -- Contact Form -------- //

.form-wrapper {
  color: $font-color;
  background-image: linear-gradient(
      to top,
      rgba(245, 246, 252, 0.1),
      rgb(58, 53, 70)
    ),
    url("../images/hero-image-tex.jpeg");
  border-top: 5px solid black;
  padding: 20px;
  .form-box {
    display: none;
    @include media-query(small) {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      border: 2px solid $font-color;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      .form-info {
        max-width: 100%;
        text-align: center;
        .top-para {
          margin-bottom: 20px;
        }
        h2 {
          font-family: $font-heading;
          font-size: x-large;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        @include media-query(large) {
          width: 45%;
          text-align: start;
        }
      }
      .contact-form {
        margin-top: 20px;
        align-items: center;
        form {
          display: flex;
          flex-wrap: wrap;
          input,
          textarea {
            padding: 10px;
            margin: 2px;
            border: 2px solid $color-primary;
            background-color: $font-color;
            color: black;
          }
          .name {
            display: inline;
            width: calc(50% - 5px);
          }
          .email,
          .subject,
          .message {
            width: 100%;
          }
          .message {
            min-height: 100px;
          }
          button {
            margin-top: 10px;
            padding: 15px 40px;
            background-color: black;
            font-family: $font-heading;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        @include media-query(large) {
          margin-left: 10%;
          width: 45%;
        }
      }
      @include media-query(large) {
        justify-content: start;
        padding: 30px 50px;
      }
    }
  }
  .back-top {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 1px 1px black;
    font-weight: 700;
    text-transform: uppercase;
  }
}
