// -- About Me ---------- //
.info-wrapper {
  margin: 20px;
  h1 {
    font-family: $font-heading;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
  }
  h2 {
    font-family: $font-heading;
    font-size: x-large;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .about-wrap {
    display: flex;
    justify-content: space-between;
    p {
      width: 100%;
      @include media-query(large) {
        width: 50%;
      }
    }
    .sam {
      margin-left: 20px;
      object-fit: cover;
      background-size: cover;
      border: 5px solid black;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: none;
      width: 50%;
      @include media-query(large) {
        display: block;
        max-width: 300px;
      }
      @include media-query(x-large) {
        max-width: 600px;
      }
    }
  }

  ul {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    li {
      line-height: 40px;
    }
  }
  @include media-query(medium) {
    margin: 80px 80px 150px;
  }
}

.about-para {
  margin-bottom: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}
