// -- About Me ---------- //
.info-wrapper {
  margin: 80px 80px 150px;
  h1 {
    font-family: $font-heading;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
  }
  h2 {
    font-family: $font-heading;
    font-size: x-large;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}

.about-para {
  margin-bottom: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}
