.sidebar-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 100vh;
  justify-content: space-between;
  background-color: $font-color;
  border-bottom: 5px solid $color-primary;
  @include media-query(medium) {
    justify-content: start;
    position: fixed;
    flex-direction: column;
    border-bottom: none;
    border-right: 5px solid $color-primary;
    max-width: 15%;
    min-height: 100vh;
  }
  @include media-query("medium") {
    min-width: 25%;
  }
  @include media-query("large") {
    min-width: 20%;
  }
  @include media-query("x-large") {
    min-width: 15%;
  }
}

.logo-container {
  max-width: 75px;
  @include media-query(medium) {
    max-width: 80%;
    padding: 15px;
    border-bottom: 2px solid $color-primary;
    align-self: center;
  }
  @include media-query(large) {
    max-width: 150px;
    justify-content: center;
    margin-bottom: 100px;
  }
}

.socials {
  text-align: center;
  padding-top: 20px;
  display: none;
  @include media-query(medium) {
    display: block;
  }
}

.fa-brands {
  margin: 15px;
  font-size: x-large;
}

.hamburger-wrap {
  margin: 10px;
  @include media-query(medium) {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.navigation-list {
  flex-basis: 100%;
  text-align: center;
  align-self: center;
  ul {
    font-family: $font-heading;
    line-height: 50px;
    text-transform: uppercase;
    border-top: 5px solid black;
    @include media-query(medium);
    border-top: none;
    background-color: darken($font-color, $amount: 10);
    li {
      border-top: 2px solid black;
      padding: 10px;
      @include media-query(medium) {
        border-top: none;
        padding: 0px;
      }
    }
    @include media-query(medium) {
      display: flex;
      flex-direction: column;
      background-color: $font-color;
    }
    .contact {
      @include media-query(medium) {
        padding: 10px 0;
        margin-top: 50px;
        border-top: 2px solid $color-primary;
        border-bottom: 2px solid $color-primary;
      }
    }
    a {
      @include hyperlink-style;
      padding: 3px;
      &:active {
        background-color: black;
        color: $font-color;
      }
    }
  }
}
