html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: $font-color;
  font-family: $font-primary;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

main {
  background-image: url("../images/hero-image-tex.jpeg");
  background-repeat: repeat-y;
  background-position: 20% 0;
  transition: 0s linear;
  transition-property: background-position;
  @include media-query("medium") {
    margin-left: 25%;
  }
  @include media-query("large") {
    margin-left: 20%;
  }
  @include media-query("x-large") {
    margin-left: 15%;
  }
}
