body {
  background-color: $font-color;
  font-family: $font-primary;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

main {
  @include media-query("medium") {
    margin-left: 25%;
  }
  @include media-query("large") {
    margin-left: 20%;
  }
  @include media-query("x-large") {
    margin-left: 15%;
  }
}
